/* Dropdown Button */
.dropdown__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.dropdown__arrow {
    transition: transform 0.3s ease;
}

/* Dropdown Container */
.dropdown__container {
    display: none;
    /* Hide dropdown by default */
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: var(--body-color);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

/* Show Dropdown on Hover */
.dropdown__item:hover .dropdown__container {
    display: block;
}

/* Dropdown Menu Styling */
.dropdown__content {
    padding: 0.5rem;
}

.dropdown__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown__link {
    font-size: 12px;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown__link:hover {
    background-color: var(--first-color-lighten);
}

.dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
    /* Rotate arrow when hovered */
}