/* Footer-specific styles */
footer {
  margin-bottom: 0;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #003399;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
  font-size: 10px;
}

/* Footer bottom */
.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 20px 50px;
  text-align: center;
}

.footer-bottom p {
  float: unset;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: #44bae8;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

/* Footer menu */
.footer-menu {
  padding-left: 45%;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

/* Responsive design */
/* @media (max-width: 500px) {
  .footer-menu ul {
      flex-direction: column;
      margin-top: 10px;
      margin-bottom: 20px;
  }
} */
/* ========= Laptop ============ */
@media (max-width: 1024px) {
  .footer-bottom {
    padding-top: 3px;
    padding-bottom: 14px;
    padding-left: 6%;
    font-size: 8px;
  }
  .footer-bottom p a{
    font-size: 8px;
  }
  .footer-bottom p {
    font-size: 8px;
  }
  .footer-menu {
    padding-left: 40%;
  }
}


/* ========= Tablet ============ */
@media (max-width: 768px) {
  .footer-bottom {
    padding-top: 3px;
    padding-bottom: 14px;
    padding-left: 6%;
    font-size: 8px;
  }
  .footer-bottom p a{
    font-size: 8px;
  }
  .footer-bottom p {
    font-size: 8px;
  }
  .footer-menu {
    display: none;
  }
}

/* ========= Mobile ============ */
@media (max-width: 425px) {
  .footer-bottom {
    padding-top: 3px;
    padding-bottom: 14px;
    padding-left: 6%;
  }
  .footer-bottom p a{
    font-size: 8px;
  }
  .footer-bottom p {
    font-size: 8px;
  }
  .footer-menu {
    display: none;
  }
}

@media (max-width: 375px) {
  .footer-bottom {
    padding-top: 3px;
    padding-bottom: 14px;
    padding-left: 6%;
  }
  .footer-bottom p a{
    font-size: 8px;
  }
  .footer-bottom p {
    font-size: 8px;
  }
  .footer-menu {
    display: none;
  }
}

@media (max-width: 320px) {
  .footer-bottom {
    padding-top: 3px;
    padding-bottom: 14px;
    padding-left: 6%;
  }
  .footer-bottom p a{
    font-size: 8px;
  }
  .footer-bottom p {
    font-size: 8px;
  }
  .footer-menu {
    display: none;
  }
}