/* Footer-specific styles */
footer {
  margin-bottom: 0;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #003399;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

/* Footer content */
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

/* Socials */
.footer-socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem;
}

.footer-socials li {
  margin: 0 10px;
}

.footer-socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid #fff;
  padding: 5px;
  border-radius: 50%;
}

.footer-socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s;
}

.footer-socials a:hover i {
  color: #0ff;
}

/* Footer bottom */
.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 20px 40px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

/* Footer menu */
.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

/* Responsive design */
@media (max-width: 500px) {
  .footer-menu ul {
      flex-direction: column;
      margin-top: 10px;
      margin-bottom: 20px;
  }
}
