.hero {
    margin: none;
    padding: none;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #FFF100;
}
/* Media query for small screens (Laptop 4k) */
@media (max-width: 2560px) {
    #hero-img {
        margin: 0 auto;
        height: 735px;
    }
}
/* Media query for small screens (Laptop L) */
@media (max-width: 1920px) {
    #hero-img {
        margin: 0 auto;
        height: 550px;
    }
}
/* Media query for small screens (Laptop L) */
@media (max-width: 1440px) {
    #hero-img {
        margin: 0 auto;
        height: 415px;
    }
}
/* Media query for small screens (Laptop) */
@media (max-width: 1024px) {
    #hero-img {
        margin: 0 auto;
        height: 295px;
    }
}
/* Media query for small screens (Tablet) */
@media (max-width: 960px) {
    #hero-img {
        margin: 0 auto;
        height: 280px;
    }
}
/* Media query for small screens (Tablet) */
@media (max-width: 768px) {
    #hero-img {
        margin: 0 auto;
        height: 220px;
    }
}
/* Media query for small screens (Mobile L) */
@media (max-width: 640px) {
    #hero-img {
        margin: 0 auto;
        height: 184px;
    }
}
/* Media query for small screens (Mobile L) */
@media (max-width: 430px) {
    #hero-img {
        margin: 0 auto;
        height: 122px;
    }
}
/* Media query for small screens (Mobile M) */
@media (max-width: 375px) {
    #hero-img {
        margin: 0 auto;
        height: 108px;
    }
}
/* Media query for small screens (Mobile S) */
@media (max-width: 320px) {
    #hero-img {
        margin: 0 auto;
        height: 92px;
    }
}