.hero {
    margin: none;
    padding: none;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #FFF100;
}
/* Media query for small screens (Laptop 4k) */
@media (max-width: 2560px) {
    #hero-img {
        margin: 0 auto;
        height: 750px;
    }
}
/* Media query for small screens (Laptop L) */
@media (max-width: 1440px) {
    #hero-img {
        margin: 0 auto;
        height: 430px;
    }
}
/* Media query for small screens (Laptop) */
@media (max-width: 1024px) {
    #hero-img {
        margin: 0 auto;
        height: 300px;
    }
}
/* Media query for small screens (Tablet) */
@media (max-width: 960px) {
    #hero-img {
        margin: 0 auto;
        height: 280px;
    }
}
/* Media query for small screens (Tablet) */
@media (max-width: 768px) {
    #hero-img {
        margin: 0 auto;
        height: 230px;
    }
}
/* Media query for small screens (Mobile L) */
@media (max-width: 425px) {
    #hero-img {
        margin: 0 auto;
        height: 125px;
    }
}
/* Media query for small screens (Mobile M) */
@media (max-width: 375px) {
    #hero-img {
        margin: 0 auto;
        height: 110px;
    }
}
/* Media query for small screens (Mobile S) */
@media (max-width: 320px) {
    #hero-img {
        margin: 0 auto;
        height: 95px;
    }
}