.gallery {
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.gallery h1 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery iframe {
    width: 580px;
    height: 450px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.02);
}
/* Media query for small screens (Surface Duo) */
@media (max-width: 540px) {
    .gallery iframe {
        width: 520px;
        height: 250px;
    }
}
/* Media query for small screens (iPhone 14 Pro Max) */
@media (max-width: 430px) {
    .gallery iframe {
        width: 408px;
        height: 250px;
    }
}
/* Media query for small screens (Mobile L) */
@media (max-width: 425px) {
    .gallery {
        margin-top: 10px;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }

    .gallery iframe {
        width: 405px;
        height: 250px;
    }
}
/* Media query for small screens (iPhone XR) */
@media (max-width: 414px) {
    .gallery iframe {
        width: 392px;
        height: 250px;
    }
}
/* Media query for small screens (iPhone 12 Pro) */
@media (max-width: 390px) {
    .gallery iframe {
        width: 370px;
        height: 250px;
    }
}
/* Media query for small screens (Mobile M) */
@media (max-width: 375px) {
    .gallery {
        margin-top: 10px;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }

    .gallery iframe {
        width: 350px;
        height: 250px;
    }
}
/* Media query for small screens (Samsung Galaxy S8+) */
@media (max-width: 360px) {
    .gallery iframe {
        width: 340px;
        height: 250px;
    }
}
/* Media query for small screens (Galaxy Z Fold 5) */
@media (max-width: 344px) {
    .gallery {
        margin-top: 10px;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }

    .gallery iframe {
        width: 322px;
        height: 250px;
    }
}
/* Media query for small screens (Mobile S) */
@media (max-width: 320px) {
    .gallery {
        margin-top: 10px;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }

    .gallery iframe {
        width: 300px;
        height: 250px;
    }
}