.gallery {
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.gallery h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.5);
}