.navbar-above3 {
    margin: none;
    padding: none;
	background-color:#FFF100;
	height:30px;
}

/* Media query for small screens (Laptop) */
@media (max-width: 1920px) {
    .navbar-above3 {
		margin-top: 58px;
		height: 5px;
	}
}
/* Media query for small screens (Laptop) */
@media (max-width: 1440px) {
    .navbar-above3 {
		margin-top: 58px;
		height: 5px;
	}
}
/* Media query for small screens (Laptop) */
@media (max-width: 1024px) {
    .navbar-above3 {
		margin-top:26px;
		height: 5px;
	}
}
/* Media query for small screens (Tablet) */
@media (max-width: 960px) {
    .navbar-above3 {
		margin-top: 30px;
		height: 5px;
	}
}

/* Media query for small screens (mobile) */
@media (max-width: 768px) {
    .navbar-above3 {
		margin-top: 30px;
		height: 5px;
	}
}
@media (max-width: 425px) {
    .navbar-above3 {
		margin-top: 30px;
		height: 10px;
	}
}
@media (max-width: 375px) {
    .navbar-above3 {
		margin-top: 30px;
		height: 10px;
	}
}
@media (max-width: 320px) {
    .navbar-above3 {
		margin-top: 20px;
		height: 10px;
	}
}